<center><h1>Owasso & Collinsville COVID Numbers</h1></center>

<div class="container">
  <div class="row">
    <div class="column" id="activeChartDiv"></div>
    <div class="column" id="newChartDiv"></div>
    <div class="column" id="avgChartDiv"></div>
    <div class="column" id="totalChartDiv"></div>
    <div class="column" id="deathsChartDiv"></div>
    <div class="column" id="fatalityChartDiv"></div>
  </div> 
</div>
<script>
  fetch('get_numbers/active')
    .then (Response => Response.json())
    .then (data => renderChart(data, "Active Cases", "activeChartDiv"));
  fetch('get_numbers/new')
    .then (Response => Response.json())
    .then (data => renderChart(data, "New Cases", "newChartDiv"));
  fetch('get_numbers/average')
    .then (Response => Response.json())
    .then (data => renderChart(data, "Average New Cases", "avgChartDiv"));
  fetch('get_numbers/total')
    .then (Response => Response.json())
    .then (data => renderChart(data, "Total Cases", "totalChartDiv"));
  fetch('get_numbers/total')
    .then (Response => Response.json())
    .then (data => renderChart(data, "Total Deaths", "deathsChartDiv"));

  function renderChart(series, title, chartDiv) {
    JSC.Chart(chartDiv, {
      title_label_text: title,
      annotations: [{
        label_text: 'Source: Oklahoma Health Department',
        position: 'bottom left'
      }],
      legend_visible: false,
      xAxis_crosshair_enabled: true,
      defaultSeries_lastPoint_label_text: '<b>%seriesName</b>',
      defaultPoint_tooltip: '%seriesName <b>%yValue</b>',
      series: series
    });
  }
</script> 